{% extends 'base.html' %}

{% load static %}

{% block title %}
	Login
{% endblock %}

{% block extra_css %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block content %}
	

	<section class="login-section">
		<div class="login-wrap">
			<h1 class="login-title">Welcome To ISHO, Please Sign in!</h1>

			<div class="login-card">
				<div class="login-panel">
					<div>
						<h3>I Am Already a Registered ISHO User</h3>
						<p>Enter your mobile number and password to sign in</p>
					</div>

					<form class="login-form">
						<input class="login-input" type="tel" placeholder="Phone" />
						<input class="login-input" type="password" placeholder="Password" />
						<a class="forgot-link" href="#">forgot password?</a>
						<button class="login-button" type="submit">Login</button>
					</form>
				</div>

				<div class="signup-panel">
					<div>
						<h3>I Want a ISHO User Account.</h3>
						<p>If you still don’t have an account on isho.com, use the button below to create one.</p>
					</div>

					<button class="signup-button" type="button">Create an account</button>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
